
@charset "utf-8";
html,body{margin:0;padding:0;}


/* welcome */

.login{
  margin-top:300px;
  border: solid 2px black;
  width:140px;
  height:60px;
  padding-top:7px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-radius: 1em;
}

/* header */

.header{
  border:solid 2px black;
}

.header ul {
  width:100%;
  list-style:none;
  height:20px;
}

.header li {
  float:left;
  margin-right:10px;
  border-top:solid 1px black;
}


/* home */

.post{
  width:500px;
  height:500px;
  clear:left;
  list-style:none;
  border: solid 1px black;
  margin-top:50px;
}

.post-top{
  margin-top:15px;
  padding-left:25px;
  float:left;
}

.p_user{
  display:block;
  float:left;
}

.delete{
  display: block;
  float:left;
  margin-left: 300px;
}

.post-image{
  margin-top:20px;
  width:450px;
  height:350px;
}

.image-space{
  text-align:center;
}

.p_comment{
  float:left;
  text-align:left;
  width:270px;
  margin-left:25px;
}

.like-relations{
  float:left;
  width:180px;
}

.like-btn{
  text-align:right;
}

.like-link{
  text-align:right;
}



/* post */



/* profile */

.user_info{
  height:100px;
  width:100%;
  margin-top:60px;
  margin-bottom:60px;
}

.u_img{
  width:100px;
  width:100px;
  margin-left:40px;
}

.p_img{
  float:left;

}

/* like_index */

.like-user{
  margin-top:50px;
  height:150px;
  width:100%;
  text-align: center;
}

.like-user > ul >li{
  list-style: none;
}


.l_user_img{
  margin-top:30px;
}

.u-image{
}

.l-user{
  font-size:40px;
  margin-left:30px;
  vertical-align:middle;
}


/*  */
